/* import Google Fonts 
font-family: 'Roboto Condensed', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@400;600&family=Orbitron:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

/* Font style for the entire page */
*{
    font-family: 'Orbitron', sans-serif;
}

body{
  /* background-color:  #173a52; */
    background-image: url(https://miro.medium.com/max/1080/1*VFYWXlag5Sxqgpq7EHJ7CA.gif);
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
  
}
.content {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  
}

p{
    margin: 15px;
}

#otherProject{
    justify-content: center;
}
i{
  font-size:30px;
  margin:10px;
  
}

i:hover{
  font-size:35px;
  color: #fac23e;
  transition: all 100ms ease-in-out;
}

#caption{
  font-size: 25px;
  color: #8ed2d3 ;
  height:15px;
}

.BasicLayout{
  width: 60%;
  height: 300px;
  margin: 20px;
  border: 4px solid #8ed2d3 ;
  background-color: rgb(23, 58, 82,0.35);
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  min-width: 500px;
  max-width: 800px;
}

.projectText{
    width: 80%;
    margin-top: 15px;
}


#name{
  font-weight:600;
  font-size: 50px;
  margin-top: 100px;
  height:250px;
}



#projects{

    height: 75px;
    flex-direction: column;

}


.projectsContainer{
    display: flex;
    justify-content: space-between;
    height: 600px;
    border: #173a52;
    background: none;
    
}

.projectbox{
    width: 47%;
    height: 100%;
    border: 4px solid #8ed2d3 ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(23, 58, 82,0.35);;
 
}



.img {
  margin: 20px;
  transform: skewY(-35deg);
  align-items: center;
  width:100px;
  height:auto;
  border: 4px solid white ;
  margin-top:20px;
}

#imageList{
  display:flex;
  
}

img{
    box-shadow: rgba(142, 210, 211, 0.4) 5px 5px, rgba(142, 210, 211, 0.3) 10px 10px, rgba(142, 210, 211, 0.2) 15px 15px, rgba(142, 210, 211, 0.1) 20px 20px, rgba(142, 210, 211, 0.05) 25px 25px;
    margin-bottom: 15px;
}

img:hover{
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
    
}
#project1Code{
    margin-top: 30px;
}
#project2Code{
    margin-top: 30px;
}
#greetingbox{
  display: flex;
  flex-direction: column;
  height: 270px;
}

#greeting-container{
    margin: 10px;
    color: #fac23e;
}

#contactMe{
    display: flex;
    flex-direction: column;
    height: 480px;
    
  }
.sessionTitle{
    font-size: 30px;
    margin: 40px;
}
form{
    display: flex;
    flex-direction: column;
    width: 360px;
}

label{
    margin: 5px;
}


.inputBox{
    color: #436073;
    font-size:16px;
    border: 1px solid #436073;
    padding: 5px;

  }

textarea{
    height: 60px;
}

.buttons{
    background-color: #8ed2d3;
    color: white;
    border: 1px;
    font-size:20px;
    text-align: center;
    align-items:center;
    color:white;
    padding: 3px 28px;
    border-radius: 50px;
}

.buttons:hover{
    background-color: white;
    color: #173a52;
}

@media only screen and (max-width: 500px){
	/*Big smartphones [426px -> 600px]*/
  .BasicLayout{
  width: 200%;
  }

  .projectsContainer{
    flex-direction: row;
    width:300%;
    flex-wrap: wrap;
  }


  #name{
    font-size:40px;
  }
}