@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=DM+Sans:wght@400;700&family=Inter:wght@400;600&family=Orbitron:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

*{
  font-family: 'DM Sans', sans-serif;
  font-weight:bold;
}

html, body {
  height: 100%;
  width: 100%;
}

#IDinput{
    background-color: #F2E2D7;
    border: none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.sectionWrapper{
  height: 200px;
  width: 70%;
  max-width: 800px;
}

.pinkBox{
    display: flex;
    flex-direction: column;
    background-color: #F2E2D7;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    height: 150px;
}

#menuBoxContainer{
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
}
.entryRow{
  margin: 15px;
}

label{
  margin: 10px ;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.entryPage{
  margin-top: 200px;
}

input{
    font-size: 16px;
    border: 1px solid #436073;
    border-radius: 8px;
    width: 214px;
    padding-left: 7px;
}

#resBox{
    width: 348px;
    height: 140px;
}

.boxText{
  margin: 15px;
}



#subBox{
  height: 300px;
  width: 600px;
  align-items: center;
  justify-content: center;
}

#addItem{
/*   background-color:red; */
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}

#menuSubmit{
    margin-top: 47px;
    margin-right: -62px;
}

.boxButton{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.button{
    text-align: center;
    color: whitesmoke;
    background-color: #21695C;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    width: 90px;
    height: 26px;
    margin: 10px;
}

Button{
    text-align: center;
    color: whitesmoke;
    background-color: #21695C;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    width: 90px;
    height: 26px;
    margin: 10px;
}

.returnButton{
  margin-top:200px;
}

Button:hover{
  background-color:#3ec2ab;
 
}

#addButton{
  width: 100px;
}
